In [27]:
import pandas as pd
from thunderpack import ThunderReader
from tqdm import tqdm

## GOALS
- AGE average age of all participants (and Standard Deviation)
    - per hospital
    - per ICD standing

- SEX num/percent female/male
    - per hospital
    - per icd standing

- RACE num/percent
    - per hospital
    - per icd standing

### MGB
 - BDSPPatientID
 - AGE
    - NoteDate yr - DateOfBirth yr
    - Add Age column
    - Age brackets (18-30, etc.)
 - SEX
    - SexDSC (Patient informed Gender)
        - or -
    - SexAssignedAtBirthDSC
        - or -
    - GengerIdentityDSC
 - RACE
    - PatientRace

### BIDMC

 - BDSPPatientID
 - AGE
    - NoteDate yr - DateOfBirth yr
    - Add Age column
    - Age brackets (18-30, etc.)
 - SEX
    - SexDSC (Patient informed Gender)
 - RACE
    - PatientRace

In [28]:
# BIDMC
cohort = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/cleanCohorts/BIDMC_cohort_final.csv')
cohort.drop(columns=['text'], inplace=True)
print(len(cohort))
cohort.head()

1014

   BDSPPatientID    NoteDate                                  NoteTitle
0      151212513  2016-02-04    Notes_1131071605_435587215_20160204.txt
1      150639400  2023-06-12  Notes_1130498158_10141889500_20230612.txt
2      150057053  2020-12-17   Notes_1129915463_4302367261_20201217.txt
3      151005496  2010-06-29    Notes_1130863925_364816102_20100629.txt
4      150006448  2014-07-14   Notes_1129865503_1991829458_20140714.txt

In [29]:
patientIDs = cohort['BDSPPatientID']

reader = ThunderReader('/home/jsearle/bigDrive/Dropbox/zz_EHR_Thunderpacks/BIDMC/thunderpack_demographics_nax_1m_BIDMC')
key_length = len(list(reader.keys()))
print(key_length)
print(list(reader.keys()))

2
['demographics_partition_1', 'demographics_partition_2']

In [21]:
birthDates = pd.read_csv('/home/jsearle/bigDrive/Dropbox/zz_EHR_Thunderpacks/BIDMC/bidmc_patient_demographics_birth_and_death_dates.csv')
birthDates = birthDates[birthDates['BDSPPatientID'].isin(patientIDs)]
print(len(birthDates))
birthDates.head()

1014

,BDSPPatientID,DateOfBirth,ExpiredDate,DateOfDeathMARegistryData,BDSPLastModifiedDTS
125,150000004,1957-03-12,NaN,NaN,2023-05-19 17:03:37.6866667
4121,150064116,1953-05-02,2018-03-10,2018-03-10,2024-01-10 15:18:02.4866667
4856,150064837,1955-10-27,NaN,NaN,2023-07-06 17:38:51.9929860
9406,150000090,1949-06-15,NaN,NaN,2023-05-19 17:03:39.2033333
12990,150072715,1948-07-03,NaN,NaN,2023-07-06 17:38:51.9929860

In [30]:
filtered_dfs = []
for i in tqdm(range(1, key_length + 1)):
    df = reader[f'demographics_partition_{i}']
    filtered_df = df[df['BDSPPatientID'].isin(patientIDs)]
    filtered_dfs.append(filtered_df)

# Concatenate all filtered DataFrames into one
relevantPatientIDs = pd.concat(filtered_dfs, ignore_index=True)

relevantPatientIDs.head()

100%|██████████| 2/2 [00:00<00:00,  4.58it/s]

,BDSPPatientID,PatientRace,EthnicGroupDSC,MaritalStatusDSC,ReligionDSC,LanguageDSC,SexDSC,BDSPLastModifiedDTS
0,150000004,ASIAN,CHINESE,MARRIED,UNKNOWN,ENGLISH,Male,2023-05-19 17:03:37.6866667
1,150064116,WHITE,AMERICAN,SINGLE,CATHOLIC,ENGLISH,Female,2023-07-06 17:38:51.9929860
2,150064837,WHITE,AMERICAN INDIAN,SINGLE,BUDDHIST,ENGLISH,Male,2023-07-06 17:38:51.9929860
3,150000090,WHITE,AMERICAN,SINGLE,CATHOLIC,ENGLISH,Female,2023-05-19 17:03:39.2033333
4,150072715,WHITE,GREEK,DIVORCED,UNKNOWN,ENGLISH,Female,2023-07-06 17:38:51.9929860

In [32]:
print(len(relevantPatientIDs))
print(len(patientIDs))
relevantPatientIDs.head()

701
1014

,BDSPPatientID,PatientRace,EthnicGroupDSC,MaritalStatusDSC,ReligionDSC,LanguageDSC,SexDSC,BDSPLastModifiedDTS
0,150000004,ASIAN,CHINESE,MARRIED,UNKNOWN,ENGLISH,Male,2023-05-19 17:03:37.6866667
1,150064116,WHITE,AMERICAN,SINGLE,CATHOLIC,ENGLISH,Female,2023-07-06 17:38:51.9929860
2,150064837,WHITE,AMERICAN INDIAN,SINGLE,BUDDHIST,ENGLISH,Male,2023-07-06 17:38:51.9929860
3,150000090,WHITE,AMERICAN,SINGLE,CATHOLIC,ENGLISH,Female,2023-05-19 17:03:39.2033333
4,150072715,WHITE,GREEK,DIVORCED,UNKNOWN,ENGLISH,Female,2023-07-06 17:38:51.9929860

In [33]:
# Get a list of BDSPPatientIDs that are in patientIDs but not in relevantPatientIDs
missing_patient_ids = set(patientIDs) - set(relevantPatientIDs['BDSPPatientID'])

# Convert the set to a list
missing_patient_ids = list(missing_patient_ids)

print(len(missing_patient_ids))
print(missing_patient_ids)

499
[151134208, 150016002, 150009858, 150020100, 151306244, 150005766, 151306251, 150013964, 151271440, 151148567, 151212057, 150020131, 150562854, 150009896, 151173164, 150020141, 150020143, 151332919, 150014010, 151130172, 150005821, 151199815, 150018119, 150003803, 151113821, 150014049, 151361643, 151330933, 150020214, 151292027, 150014076, 151296127, 151296131, 150018180, 150007941, 151193734, 150007943, 151296134, 151300235, 150012047, 150014103, 150050970, 150020251, 150020255, 150020257, 150014122, 150028459, 150014123, 150055086, 151138480, 150018224, 150012082, 150014134, 150018230, 151212221, 151326914, 151210181, 150018245, 151038152, 151134414, 151142607, 151120092, 151181532, 151165150, 150055137, 151130345, 150018287, 151128306, 151191796, 150014208, 151163140, 151324936, 150014219, 151109911, 151195939, 151367972, 151095590, 150012205, 151349552, 150018364, 151204163, 150020421, 150038854, 151234893, 151159120, 151288149, 150640982, 151374169, 150006116, 150667627, 151341424, 150010228, 150020476, 150014337, 150892930, 150030726, 151046538, 150002058, 150018442, 150010255, 150630814, 150020515, 150004144, 151241137, 151230901, 150722998, 150004150, 151179709, 151202241, 150038981, 151161288, 150010320, 150366676, 150014420, 150008278, 151378395, 151175646, 150018527, 150014432, 151212513, 150018536, 150667764, 151185917, 150014461, 150018559, 150010368, 151069202, 150010388, 150719003, 151185950, 150010398, 151347745, 151290403, 150018603, 150014509, 150010421, 151308859, 150018622, 151261758, 150014545, 151122514, 150032978, 150014550, 150020696, 151151195, 150989409, 151153251, 150002280, 151310960, 150012529, 151362163, 150764151, 150018682, 150014591, 150016649, 151102089, 151231120, 151296658, 151120532, 150020760, 151302808, 151222939, 150043291, 151308960, 151245473, 151354016, 150022823, 151294640, 150016689, 150012599, 151055034, 151220923, 151200444, 150020799, 150020800, 150018754, 150020805, 151296714, 150008531, 151366357, 150022870, 151153367, 151196376, 151368409, 151362266, 150018776, 151180007, 150016744, 151372526, 151210736, 150014705, 151206642, 151370480, 151200500, 151374582, 151290614, 151302906, 150014716, 150016769, 150018821, 150782727, 150727431, 150016775, 150010631, 151300881, 151368475, 151372571, 150018845, 151249699, 150012712, 151112489, 151368489, 150010665, 151298860, 151182123, 151163691, 150018864, 151264048, 150010674, 151210811, 150608702, 150020928, 151200577, 151374669, 151128911, 150057811, 151169878, 151114583, 150012758, 151319386, 150018907, 151376738, 151210856, 150010740, 150014837, 150016886, 150016885, 150231925, 150010745, 151210874, 151186298, 150414211, 150782852, 150958982, 151126935, 151079832, 151049118, 151223203, 150006693, 151303081, 151182253, 151243694, 151233455, 151153591, 150019012, 150019015, 150039500, 151055313, 150012885, 150019030, 150014933, 151206878, 151221219, 150014956, 150012917, 151122944, 151346181, 150848523, 150021132, 150021137, 150008853, 150014999, 151243799, 150019103, 150015019, 151354414, 150017081, 150815804, 151077948, 151305276, 151221317, 150828106, 151184470, 151348314, 150013021, 151245919, 151233634, 150019176, 151319661, 151166063, 150008943, 151309427, 151315571, 150013047, 151180411, 150013055, 150015104, 150019202, 151045251, 150019203, 150019206, 151184519, 151217287, 150041743, 150004880, 150019221, 151266461, 150219946, 151217325, 151317687, 151352503, 151151806, 151266497, 150992079, 151098576, 150013137, 150236374, 151262430, 151215329, 151307493, 150009074, 150445303, 150658295, 151332092, 151112958, 151004418, 150021380, 150015237, 150011142, 150004997, 150011145, 150013194, 150019342, 150005007, 150011155, 151239957, 151174422, 151317784, 150021400, 151299355, 150011163, 151246112, 151100708, 151373100, 150619437, 151172397, 151211314, 151262521, 150058298, 151055679, 151088448, 150015297, 151330115, 151182664, 151002441, 150019404, 150328652, 151170389, 151113051, 150664541, 150015326, 150009183, 150875492, 150015369, 151203212, 150019470, 151070099, 151141780, 151074198, 151066006, 150001051, 151219612, 150011303, 151149994, 150019499, 151088569, 150789567, 150009290, 151330257, 151164371, 151295443, 151205341, 151055839, 150019552, 151197154, 151129570, 150019556, 150001130, 151315955, 151219707, 151152126, 151373314, 151143938, 151320073, 150019602, 150013461, 150019614, 150003240, 151305772, 151270959, 151356977, 150007347, 150691391, 151303746, 151180873, 150001228, 151246431, 150011491, 151191148, 151152239, 151180918, 151314044, 150220416, 150771329, 151180931, 150013573, 151185033, 151207576, 150015643, 151242403, 150527651, 151068331, 151291567, 151117492, 151299772, 151293629, 150005441, 150013638, 150597322, 151375569, 150013650, 151291604, 150013654, 150015717, 150013672, 151301866, 150001390, 151336686, 151232238, 151355122, 151127794, 150923008, 150013696, 150013697, 151365386, 151260946, 151207703, 151316252, 151211805, 151301926, 150015786, 150851372, 151240493, 151187250, 151242558, 151138122, 151201611, 151265109, 151230299, 151195489, 151129957, 151320421, 150019946, 151140203, 150048619, 151263092, 151080822, 151326583, 150959990, 151207801, 151115641, 151242621, 151213952, 150013827, 150435724, 151232398, 151199632, 151211926, 150058903, 151232414, 150013867, 150011821, 151123886, 151369647, 150020027, 151222203, 150013891, 150020037, 150015942, 150017992, 151240655, 151377878, 151361515, 150013933, 151144430, 151369716, 151371765, 151295997, 151113727]

In [13]:
relevantPatientIDs = relevantPatientIDs.drop_duplicates(subset='BDSPPatientID', keep='first')
print(len(relevantPatientIDs))

1458

In [8]:
relevantPatientIDs = relevantPatientIDs[['BDSPPatientID', 'DateOfBirth', 'PatientRace', 'SexDSC']]

relevantPatientIDs.head()

   BDSPPatientID DateOfBirth PatientRace  SexDSC
0      121298131  1972-09-21       White    Male
1      114146799  1950-09-22       White  Female
2      116372012  1957-03-10       White    Male
3      119649396  1986-09-14       White  Female
4      115251131  1985-06-07       White    Male

In [23]:
patients_df = pd.merge(birthDates, cohort, on='BDSPPatientID', how='inner')
print(len(patients_df))
patients_df.head()

1014

,BDSPPatientID,DateOfBirth,ExpiredDate,DateOfDeathMARegistryData,BDSPLastModifiedDTS,NoteDate,NoteTitle
0,150000004,1957-03-12,NaN,NaN,2023-05-19 17:03:37.6866667,2012-12-05,Notes_1129858847_903347041_20121205.txt
1,150064116,1953-05-02,2018-03-10,2018-03-10,2024-01-10 15:18:02.4866667,2017-09-05,Notes_1129922564_7789324346_20170905.txt
2,150064837,1955-10-27,NaN,NaN,2023-07-06 17:38:51.9929860,2023-01-30,Notes_1129923656_226657938_20230130.txt
3,150000090,1949-06-15,NaN,NaN,2023-05-19 17:03:39.2033333,2022-04-23,Notes_1129858659_7925200739_20220423.txt
4,150072715,1948-07-03,NaN,NaN,2023-07-06 17:38:51.9929860,2023-06-18,Notes_1129931751_934063735_20230618.txt

In [24]:
def parse_dates(date_str):
    for fmt in ('%Y-%m-%d %H:%M:%S.%f', '%Y-%m-%d %H:%M:%S', '%Y-%m-%d'):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    # If all formats fail, return NaT
    return pd.NaT

# Apply the custom function to convert dates
patients_df['NoteDate'] = patients_df['NoteDate'].apply(parse_dates)
patients_df['DateOfBirth'] = patients_df['DateOfBirth'].apply(parse_dates)

# Calculate age at NoteDate
patients_df['Age'] = (patients_df['NoteDate'] - patients_df['DateOfBirth']).apply(lambda x: x.days // 365)

patients_df.head()

,BDSPPatientID,DateOfBirth,ExpiredDate,DateOfDeathMARegistryData,BDSPLastModifiedDTS,NoteDate,NoteTitle,Age
0,150000004,1957-03-12,NaN,NaN,2023-05-19 17:03:37.6866667,2012-12-05,Notes_1129858847_903347041_20121205.txt,55
1,150064116,1953-05-02,2018-03-10,2018-03-10,2024-01-10 15:18:02.4866667,2017-09-05,Notes_1129922564_7789324346_20170905.txt,64
2,150064837,1955-10-27,NaN,NaN,2023-07-06 17:38:51.9929860,2023-01-30,Notes_1129923656_226657938_20230130.txt,67
3,150000090,1949-06-15,NaN,NaN,2023-05-19 17:03:39.2033333,2022-04-23,Notes_1129858659_7925200739_20220423.txt,72
4,150072715,1948-07-03,NaN,NaN,2023-07-06 17:38:51.9929860,2023-06-18,Notes_1129931751_934063735_20230618.txt,75

In [11]:
# Create a function to categorize the PatientRace values
def categorize_race(race):
    if "White" in race:
        return "White"
    elif "Black or African American" in race:
        return "Black or African American"
    elif "Asian" in race:
        return "Asian"
    elif "Unavailable" in race or "Declined" in race:
        return "Unavailable"
    else:
        return "Other"

# Apply the function to the PatientRace column to create a new categorized column
patients_df['CategorizedRace'] = patients_df['PatientRace'].apply(categorize_race)

# Drop the columns
patients_df = patients_df.drop(columns=['PatientRace', 'DateOfBirth', 'NoteDate', 'NoteTitle'])

patients_df.head()

In [14]:
neg_cohort = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/cleanCohorts/MGB_neg_cohort_final.csv')
pos_cohort = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/cleanCohorts/MGB_pos_cohort_final.csv')

negPatientIDs = neg_cohort['BDSPPatientID']
posPatientIDs = pos_cohort['BDSPPatientID']

negPatients = patients_df[patients_df['BDSPPatientID'].isin(negPatientIDs)]

posPatients = patients_df[patients_df['BDSPPatientID'].isin(posPatientIDs)]

print(len(negPatients))
print(len(posPatients))
print(len(negPatients)+len(posPatients)-len(patients_df))

negPatients.head()

1029
1053
0

    BDSPPatientID  SexDSC  Age CategorizedRace
1       114146799  Female   67           White
4       115251131    Male   33           White
5       116981962  Female   62           White
6       121811577    Male   60           White
11      116085928    Male   83           White

In [17]:
patients_df.to_csv('MGB_demographics.csv', index=False)
negPatients.to_csv('MGB_neg_demographics.csv', index=False)
posPatients.to_csv('MGB_pos_demographics.csv', index=False)