In [2]:
import pandas as pd

In [3]:
# read in correct demographics csv
demographics_df = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/table1InfoExtraction/MGB_pos_demographics.csv')
print(len(demographics_df))
demographics_df.head()

1053

   BDSPPatientID  SexDSC  Age            CategorizedRace
0      121298131    Male   44                      White
1      116372012    Male   64                      White
2      119649396  Female   33                      White
3      116852304  Female   82                      White
4      111423988  Female   65  Black or African American

In [14]:
# Check values in the SexDSC column and calculate the percentage of each
sex_counts = demographics_df['SexDSC'].value_counts()
total_count = len(demographics_df)

# Calculate numbers and percentages
numFemale = sex_counts.get('Female', 0)
numMale = sex_counts.get('Male', 0)
percentageFemale = (numFemale / total_count) * 100
percentageMale = (numMale / total_count) * 100

In [21]:
# Calculate and print the average age
average_age_MGB = demographics_df['Age'].mean()
std_dev_age_MGB = demographics_df['Age'].std()

print("Statistics")
print("\nAGE")
print("Average:", average_age_MGB)
print("sd = ", std_dev_age_MGB)

print("\nSEX")
print(f"F = {numFemale} ({percentageFemale:.2f}%)")
print(f"M = {numMale} ({percentageMale:.2f}%)")

Statistics

AGE
Average: 63.72934472934473
sd =  17.15468274173125

SEX
F = 552 (52.42%)
M = 501 (47.58%)

In [25]:
# Get the value counts for the new CategorizedRace column
categorized_race_counts = demographics_df['CategorizedRace'].value_counts()
total_count = len(demographics_df)

# Calculate percentages
categorized_race_percentages = (categorized_race_counts / total_count * 100).round(2)


for race, count in categorized_race_counts.items():
    percentage = categorized_race_percentages[race]
    print(f"{race} - {count} ({percentage}%)\n")

White - 799 (75.88%)

Black or African American - 88 (8.36%)

Unavailable - 62 (5.89%)

Other - 57 (5.41%)

Asian - 47 (4.46%)

randomly select 10,000
randomly select patient
randomly select date
would they fit criteria to belong in specific group