In [1]:
import pandas as pd

In [11]:
# read in correct demographics csv
demographics_df = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/table1InfoExtraction/BIDMC_neg_demographics.csv')
print(len(demographics_df))
demographics_df.head()

499

   BDSPPatientID  SexDSC  Age            CategorizedRace
0      150064116  Female   64                      White
1      150074292    Male   74                      White
2      150000165  Female   90  Black or African American
3      150000237    Male   66                      White
4      150000263    Male   56                      White

In [12]:
# Check values in the SexDSC column and calculate the percentage of each
sex_counts = demographics_df['SexDSC'].value_counts()
total_count = len(demographics_df)

# Calculate numbers and percentages
numFemale = sex_counts.get('Female', 0)
numMale = sex_counts.get('Male', 0)
percentageFemale = (numFemale / total_count) * 100
percentageMale = (numMale / total_count) * 100

In [13]:
# Calculate and print the average age
average_age_MGB = demographics_df['Age'].mean()
std_dev_age_MGB = demographics_df['Age'].std()

print("Statistics")
print("\nAGE")
print("Average:", average_age_MGB)
print("sd = ", std_dev_age_MGB)

print("\nSEX")
print(f"F = {numFemale} ({percentageFemale:.2f}%)")
print(f"M = {numMale} ({percentageMale:.2f}%)")

Statistics

AGE
Average: 66.0501002004008
sd =  16.2831217894734

SEX
F = 268 (53.71%)
M = 231 (46.29%)

In [14]:
# Get the value counts for the new CategorizedRace column
categorized_race_counts = demographics_df['CategorizedRace'].value_counts()
total_count = len(demographics_df)

# Calculate percentages
categorized_race_percentages = (categorized_race_counts / total_count * 100).round(2)


for race, count in categorized_race_counts.items():
    percentage = categorized_race_percentages[race]
    print(f"{race} - {count} ({percentage}%)\n")

White - 328 (65.73%)

Black or African American - 77 (15.43%)

Unavailable - 58 (11.62%)

Asian - 19 (3.81%)

Other - 17 (3.41%)

randomly select 10,000
randomly select patient
randomly select date
would they fit criteria to belong in specific group