In [24]:
import pandas as pd
from thunderpack import ThunderReader

In [25]:
reader = ThunderReader('/home/jsearle/bigDrive/Dropbox/zz_EHR_Thunderpacks/BIDMC/thunderpack_cpt_nax_1m_BIDMC')
key_length = len(list(reader.keys()))

In [26]:
dfs = []
for i in range(1, key_length + 1):
    df = reader[f'cpt_partition_{i}']
    dfs.append(df)

df = pd.concat(dfs, axis=0, ignore_index=True)

In [27]:
print(len(df))

618205

In [28]:
df.head(7)

,BDSPPatientID,BDSPEncounterID,CPTSequenceNumber,CPTCode,CPTDate,BDSPLastModifiedDTS
0,150077318,132830813,1,66984,2011-07-02 00:00:00.0000000,2023-07-21 17:17:36.8999790
1,150067697,132820879,1,19380,2009-11-21 00:00:00.0000000,2023-07-21 17:17:36.8999790
2,150073329,132829011,1,19301,2011-01-04 00:00:00.0000000,2023-07-21 17:17:36.8999790
3,150073329,132829011,2,38525,2011-01-04 00:00:00.0000000,2023-07-21 17:17:36.8999790
4,150068388,132823868,1,58558,2010-01-02 00:00:00.0000000,2023-07-21 17:17:36.8999790
5,150059232,132815561,1,54161,2010-04-19 00:00:00.0000000,2023-07-21 16:40:40.6255460
6,150070176,132826736,1,19340,2009-11-02 00:00:00.0000000,2023-07-21 17:17:36.8999790

In [29]:
codes = df['CPTCode']

In [30]:
print(type(codes[0]))

<class 'str'>

In [31]:
print(codes[0])

66984

In [52]:
cpt_filter = df[df['CPTCode'].astype(str).str.match(f'^6170')]

In [53]:
cpt_filter.head()

Empty DataFrame
Columns: [BDSPPatientID, BDSPEncounterID, CPTSequenceNumber, CPTCode, CPTDate, BDSPLastModifiedDTS]
Index: []