In [1]:
import pandas as pd
from tqdm import tqdm

This is to drop the overlap of notes between the positive and negative cohorts

In [2]:
pos_cohort = pd.read_csv('BIDMC_final_icd_pos.csv')
print(len(pos_cohort))
pos_cohort.head()

515

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...

In [3]:
neg_cohort = pd.read_csv('BIDMC_final_icd_neg.csv')
print(len(neg_cohort))
neg_cohort.head()

511

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...

In [4]:
#find overlap between dfs
overlap = pos_cohort[pos_cohort['BDSPPatientID'].isin(neg_cohort['BDSPPatientID'])]
print(len(overlap))

6

In [5]:
#Drop overlapping rows in each df
pos_no_overlap = pos_cohort[~pos_cohort['BDSPPatientID'].isin(overlap['BDSPPatientID'])]
neg_no_overlap = neg_cohort[~neg_cohort['BDSPPatientID'].isin(overlap['BDSPPatientID'])]

print(len(pos_no_overlap))
print(len(neg_no_overlap))

509
505

In [8]:
pos_no_overlap.to_csv('BIDMC_icd_pos_cohort.csv', index=False, header=True, sep=',', na_rep='NA')
neg_no_overlap.to_csv('BIDMC_icd_neg_cohort.csv', index=False, header=True, sep=',', na_rep='NA')