In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Create Testing and Training Cohorts
- I have the clean cohorts separated by Hospital and Combined
- Randomize the data
- Split testing and training 50%/50%
- I will end up with 6 csvs
    - train MGB
    - test MGB
    - train BIDMC
    - test BIDMC
    - train Combined
    - test Combined

In [4]:

MGB_cohort = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/code/cleanCohorts/MGB_cohort_final.csv')
BIDMC_cohort = pd.read_csv('/home/jsearle/bigDrive/NAX/NLP-SAH_identification/code/cleanCohorts/BIDMC_cohort_final.csv')

#### Start by hospital
- randomize 
- split 50/50

In [5]:
MGB_cohort.head()

,BDSPPatientID,NoteDate,NoteTitle,text
0,118374115,2018-11-20 00:00:00,Notes_13333491432_2130196704_20181120.txt,Physician ***** ***** Admit date: ****...
1,116931824,2022-12-29 00:00:00,Notes_13563868206_7830407523_20221229.txt,Physician ***** ***** Admit date: ****...
2,118587891,2021-05-30 00:00:00,Notes_13532685798_4823397982_20210530.txt,Physician ***** ***** Admit date: ****...
3,114557355,2022-07-22 00:00:00,Notes_13620259495_8489742841_20220722.txt,Physician ***** ***** Admit date: ****...
4,114329029,2018-05-15 00:00:00,Notes_13356996149_1753656538_20180515.txt,Physician ***** ***** Admit date: ****...

In [6]:
MGB_cohort = MGB_cohort.sample(frac=1, random_state=18).reset_index(drop=True)
MGB_cohort_train, MGB_cohort_test = train_test_split(MGB_cohort, test_size=0.5, random_state=18)

MGB_cohort_train = MGB_cohort_train.reset_index(drop=True)
MGB_cohort_test = MGB_cohort_test.reset_index(drop=True)

print(len(MGB_cohort))
print(len(MGB_cohort_train))
print(len(MGB_cohort_test))
MGB_cohort.head()

2082
1041
1041

,BDSPPatientID,NoteDate,NoteTitle,text
0,117936213,2023-03-14 00:00:00,Notes_13644994731_8345048481_20230314.txt,Physician ***** ***** ***** Admit date: **...
1,121374669,2017-10-06,Notes_13438349128_2136576931_20171006.txt,Physician ***** ***** Admit date: ****...
2,116697411,2017-07-23 00:00:00,Notes_13304456538_1387333854_20170723.txt,Physician ***** ***** Admit date: ****...
3,121059752,2018-05-13,Notes_13320631950_1986258740_20180513.txt,Physician ***** ***** Admit date: ****...
4,118801317,2020-06-14 00:00:00,Notes_13489006429_5688703044_20200614.txt,Physician ***** ***** Admit date: **...

In [7]:
BIDMC_cohort = BIDMC_cohort.sample(frac=1, random_state=18).reset_index(drop=True)
BIDMC_cohort_train, BIDMC_cohort_test = train_test_split(BIDMC_cohort, test_size=0.5, random_state=18)

BIDMC_cohort_train = BIDMC_cohort_train.reset_index(drop=True)
BIDMC_cohort_test = BIDMC_cohort_test.reset_index(drop=True)

print(len(BIDMC_cohort))
print(len(BIDMC_cohort_train))
print(len(BIDMC_cohort_test))
BIDMC_cohort.head()

1014
507
507

,BDSPPatientID,NoteDate,NoteTitle,text
0,151008545,2023-04-05,Notes_1130867252_365700047_20230405.txt,\n\nNote Date: *****/*****/***** Time: 1600\n...
1,150015413,2019-11-27,Notes_1129873876_29532935620_20191127.txt,\n\nNote Date: *****/*****/***** Time: 1617\n...
2,150014103,2016-05-21,Notes_1129872893_2970987120_20160521.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,150899108,2011-10-05,Notes_1130757663_14403889229_20111005.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150019202,2019-12-30,Notes_1129877655_486977503_20191230.txt,\n\nNote Date: *****/*****/***** Time: 1928\n...

In [13]:
MGB_cohort_train.to_csv('MGB_cohort_train.csv', index=False)
MGB_cohort_test.to_csv('MGB_cohort_test.csv', index=False)
BIDMC_cohort_train.to_csv('BIDMC_cohort_train.csv', index=False)
BIDMC_cohort_test.to_csv('BIDMC_cohort_test.csv', index=False)

#### Combine the training and testing cohorts

In [8]:
combined_cohort_train = pd.concat([MGB_cohort_train, BIDMC_cohort_train], ignore_index=True)
combined_cohort_test = pd.concat([MGB_cohort_test, BIDMC_cohort_test], ignore_index=True)

print(len(combined_cohort_train))
combined_cohort_train.head()

1548

,BDSPPatientID,NoteDate,NoteTitle,text
0,117032881,2021-09-29 00:00:00,Notes_13689094716_7824448998_20210929.txt,Physician ***** ***** Admit date: ****...
1,120402560,2021-09-01,Notes_13598482458_7493034182_20210901.txt,Physician ***** ***** Admit date: ****...
2,111454037,2023-11-15,Notes_13666481048_10665439216_20231115.txt,Discharge Summary Name: ***** *****...
3,121582882,2018-10-10 00:00:00,Notes_13329742924_1945106714_20181010.txt,Physician ***** ***** Admit date: ****...
4,111678728,2016-12-29 00:00:00,Notes_13278714866_1420969733_20161229.txt,Physician ***** ***** Admit date: ****...

In [9]:
combined_cohort_train.to_csv('combined_cohort_train.csv', index=False)
combined_cohort_test.to_csv('combined_cohort_test.csv', index=False)

Combined data is strictly separated to only include testing from each in testing and training from each in training.  This way the combined model will not be trained on any testing from hospital based models.